	<footer>

		<div class="wrap-bottom-footer">
			<div class="container">
				<div class="bottom-footer row justify-content-between">
					<div class="col-12 col-sm-7">© 2020 BowRiver Solutions. All rights reserved.</div>
				</div>
			</div>
		</div>
	</footer>