<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
</head>
<body  class="animsition">

	{{>header}}

	<section class="our-menu" >
		<div class="container">
			<div class="wrap-title-our-menu row">
				<div class="col-12 title-our-menu">
					<h2>Data Uploader</h2>
				</div>
			</div>

			
			

			<!-- Main Form -->
			<div align="center">
				
				<form method="post" action="/">								
					<table>
						<!-- Employee -->
						<tr>
							<td>
								<div class="name-food col-12 col-sm-auto">Employee</div>
							</td>
							<td>
								<div class="tbd">
									<select name="employee" style="width:100%">
										<option>Oscar Cruz</option>
										<option>Jen Hamlin</option>
										<option>Gerardo Garza</option>
										<option>Aurora Espinosa</option>
									</select>
								</div>
							</td>
						</tr>
						<!-- Plant -->	
						<tr>
							<td>
								<div class="name-food col-12 col-sm-auto">Plant</div>
							</td>
							<td>

									<select name="plant" style="width:100%">
										<option>Plant 1</option>
										<option>Plant 2</option>
										<option>Plant 3</option>
										<option>Plant 4</option>
									</select>

							</td>
						</tr>
						<!-- Field 1 -->
						<tr>
							<td>
								<div class="name-food col-12 col-sm-auto">Field 1a</div>
							</td>
							<td>
								<div class="tbd" width='100%'>
									<input type='text' name="field1" width='100%'/>
								</div>
							</td>
						</tr>
						<!-- Field 2 -->
						<tr>
							<td>
								<div class="name-food col-12 col-sm-auto">Field 2a</div>
							</td>
							<td>
								<input type='text' name="field2" width='100%'/>
							</td>
						</tr>
						<!-- Field 3 -->
						<tr>
							<td>
								<div class="name-food col-12 col-sm-auto">Field 3#</div>
							</td>
							<td>
								<input type='number' name="field3" width='100%'/>
							</td>
						</tr>
						<!-- Button -->
						<tr>
							<td colspan="2">
								<button class="btn-find-table">SUBMIT</button>
							</td>
						</tr>
					</table>
				</form>		
			</div>
		</div>
		
		
	</section>

	{{>footer}}
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
	

	{{>imports}}


</body>
</html>